/* Fonts */

@font-face {
    font-family: KaiseiTokuminRegular;
    src: url(fonts/kaisei_tokumin/kaiseitokuminregular.ttf);
}

/* Navigation bar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #226b8f;
}

nav ul li {
    display: inline;
    float: left;
}

nav ul li a {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-family: KaiseiTokuminRegular;
}

nav ul li a:hover {
    background-color: #4491b8;
}

.active {
    background-color: #4491b8;
}