/* Fonts */

*
{
    color: #083c2c;
}
@font-face {
    font-family: KaiseiTokumin-Regular;
    src: url(fonts\Kaisei_Tokumin\KaiseiTokumin-Regular.ttf);
}

.banner
{
    width: 100%;
    float: left;
    display: inline;
}
.banner img
{
    width: 30%;
}
/* Navigation bar */
nav {
    width: 65%;
    display: inline-block;
    text-align: center;
    /*background-color: #226b8f;*/
    margin-top: 50px;
    padding-top: 0px;
    margin-right: 2.5%;
    float: right;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*background-color: #226b8f;*/
    position: relative;
    top: 0;
    width: fit-content;
    display: flex;
    float: right;
    width: 100%;
    font-variant: small-caps;
    font-weight: bold;
    border: .5px solid #083c2c;
}

nav ul li {
    display: inline-block;
    position: relative;
    /*width: 200px;*/
    width: 100%;
    background-color: white;
}

nav ul li a {
    display: block;
    padding: 8px;
    color: #083c2c;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    letter-spacing: 2px;
}

nav ul li a:hover {
    /*background-color: #4491b8;*/
    background-color: #083c2c;
    transition: 0.3s ease all;
    color: white;
}

.active {
    /*background-color: #4491b8;*/
    background-color: #083c2c;
    color: white;
    
}

/* Dropdown */
header nav li a::after {
    content: ' \25BE';
  }
  
  header nav li a:only-child::after {
      content: '';
  }
  
  header nav ul ul {
      display: none;
      position: absolute;
      top: auto;
      width: inherit;
      left: 0;
  }
  
  header nav ul li:hover ul {
      display: inherit;
      z-index: 999;
  }
  
  header nav ul ul li{
      width: auto;
      float: none;
      display: list-item;
      position: relative;
  }

/* Body */

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.content {
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 17rem;    /* Footer height */
}

h1
{
    

}
/*.banner
{
    background-color: #226b8f;
    width: 100%;
    text-align: left;
    margin: 0px;
    color: white;
    font-size: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}
.banner h1
{
    padding-left: 25px;
}*/
h2
{
    width: 100%;
    text-align: center;
    color:  #083c2c;
    font-size: 75px;
    font-variant: small-caps;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}


.video
{
    width: 95%;
    border:  #083c2c 2.5px solid;
    text-align: center;
    margin-left: 2.5%;
    margin-top: 25px;
    border-radius: 15px;
}
.video iframe
{
    
    border-radius: 15px;
}
.video button
{
    width: 30%;
    background-color:  #083c2c;
    color: white;
    border-radius: 5px;
    height: 50px;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 15px;
    margin-left: 35%;
    margin-right: 35%;
}

.video button:hover
{
    transition: 0.5s;
    color: #083c2c;
    background-color: #b1ded1;
    border: #083c2c 2.5px solid;
    box-shadow: #083c2c 5px 5px 0px 0px;
}

#calendar
{
    width: 95%;
    float: left;
    border: #083c2c 2.5px solid;
    text-align: center;
    margin-left: 2.5%;
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    
}
#calendar
{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
#calendar button
{
    background-color: #083c2c;
}
#calendar button span
{
    color: white;
}
.fc-day-today
{
    background-color: #b1ded1;
}
.fc-daygrid-event-dot {
    border: calc(var(--fc-daygrid-event-dot-width)/2) solid #b1ded1;
    border-radius: calc(var(--fc-daygrid-event-dot-width)/2);
    box-sizing: content-box;
    height: 0;
    margin: 0 4px;
    width: 0;
}
.fc .fc-list-event-dot {
    border: calc(var(--fc-list-event-dot-width)/2) solid #b1ded1;
    border-radius: calc(var(--fc-list-event-dot-width)/2);
    box-sizing: content-box;
    display: inline-block;
    height: 0;
    width: 0;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #b1ded1;
}

h3
{
    font-size: 25px;
    font-variant: small-caps;
    text-decoration: underline;
}
.imgL
{
    margin-top: 20px;
    width: 45%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 15px;
    padding: 2px;
    border: #083c2c 2.5px solid;
    border-radius: 15px;
}
.imgR
{
    margin-top: 20px;
    width: 45%;
    margin-right: 1.25%;
    float: right;
    margin-bottom: 15px;
    padding: 2px;
    border: #083c2c 2.5px solid;
    border-radius: 15px;
}



.prayerForm
{
    width: 45%;
    float: left;
    border: #083c2c 2.5px solid;
    text-align: center;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 12.5px;
    padding: 2px;
    border-radius: 15px;
}
form h1
{
    font-size: 25px;
    text-align: center;
    font-variant: small-caps;
    text-decoration: underline;
}
.prayerForm form
{
 position: relative;
 float: left;
 margin-left: 15%;
 font-size: 15px;
 font-weight: 300;
 margin-bottom: 5px;
 padding-right: 50px;
 text-align: right;
}
form label
{
    margin-right: 15px;
}
form input
{
    margin-bottom: 25px;
}


.questionForm
{
    width: 45%;
    float: right;
    border: #083c2c 2.5px solid;
    text-align: center;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 2px;
    border-radius: 15px;
}
.questionForm form
{
position: relative;
 float: left;
 margin-left: 20%;
 font-size: 15px;
 font-weight: 300;
 margin-bottom: 5px;
 padding-right: 50px;
 text-align: right;
}
#submitQ, #submitP
{
    width: 75%;
    background-color:  #083c2c;
    color: white;
    border-radius: 5px;
    height: 50px;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 15px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#submitQ:hover, #submitP:hover, #submitM:hover
{
    transition: 0.5s;
    color: #083c2c;
    background-color: #b1ded1;
    border: #083c2c 2.5px solid;
    box-shadow: #083c2c 5px 5px 0px 0px;
}
.questionForm label:nth-child(4)
{
   text-align: left;
}
form textarea
{
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.content
{
    
}

*
{
    font-family: 'Alkatra';
}

footer h1
{
    font-size: 25px;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: white;
}
footer address
{
    color: white;
}
footer
{
    background-color: #083c2c;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 15rem;            /* Footer height */
}
.footerInfo
{
    width: 100%;
    color: white;
    align-self: center;

}
.footerInfo h1, .footerInfo address, .footerInfo a
{
    margin-left: 5%;
}
.footerIcons
{
    width: 95%;
    float: right;
    color: white;
    align-self: baseline;
    padding-right: 2.5%;

}
.footerIcons a
{
    
    padding: 25px;
    float: right;
    color:white;
}

footer a
{
    text-decoration: none;
    color: white;
}
footer a:hover
{
    text-decoration: none;
    color: #d5ecf7;
    transition: 0.5s;
}
.footerGive
{
    align-self: baseline;
}
footer h5
{
    font-style: italic;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.footerIcons h5
{
    text-align: right;
}
.footerGive button:hover
{
    transition: 0.5s;
    border: #083c2c 2.5px solid;
    box-shadow: white 5px 5px 0px 0px;
}


.desc
{
    text-align: center;
    width: 95%;
    border: #083c2c 2.5px solid;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    padding-top: 10px;
    /*Necessary for statement of faith - ave helpppppp*/
    display: inline-block;
    border-radius: 15px;
}
.desc p
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
.desc h5
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-style: italic;
}
.desc .paraOne
{
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 35%;
    padding-top: 50px;
}

.kids
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}
.kids div
{
   width: 30%; 
   margin-left: 0px;
   margin-right: 0px;
   padding-left: 0px;
   padding-right: 0px;
   align-self: center;
}

.kids div image
{
    width: 100%;
}
.desc .vision
{
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 35%;
    padding-top: 50px;
}
#history
{
    width: 35%;
    float: right;
    margin-right: 7.5%;
    margin-bottom: 25px;
    margin-top: 10px;
    border: #083c2c 2.5px solid;
    padding: 2px;
    border-radius: 15px;
}
#visionImg
{
    width: 35%;
    float: right;
    margin-right: 7.5%;
    margin-bottom: 25px;
    margin-top: 10px;
    border: #083c2c 2.5px solid;
    padding: 2px;
    border-radius: 15px;
}
#paraPant
{
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 35%;
    padding-top: 150px;
    font-style: italic;
}
#pantry
{
    width: 35%;
    float: right;
    margin-right: 7.5%;
    margin-bottom: 25px;
    margin-top: 10px;
    border: #083c2c 2.5px solid;
    padding: 2px;
    border-radius: 15px;
}
.desc img
{
    width: 75%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-bottom: 25px;
    margin-top: 10px;
    border: #083c2c 2.5px solid;
    padding: 2px;
    border-radius: 15px;
}
.flex
{
    display: flex;
    justify-content: space-around;
    width: 95%;
}
.flex div
{
    width: 30%;
    align-self: center;
}
.flex div img
{
    width: 100%;
}

.ya
{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.ya img
{
    width: 70%;
}

.addict
{
    display: flex;
    flex-wrap: wrap;
}
.addict div
{
    width: 50%;
    align-self: center ;
}

.memFormSection
{
    width: 95%;
    float: right;
    border: #083c2c 2.5px solid;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 15px;
    padding: 10px ;
    border-radius: 15px;
}
.memFormSection3
{
    width: 96.5%;
    margin-right: 2.5%;
    margin-left: 1%;
    margin-top: 15px;
    padding-top: 10px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    word-wrap: normal;
}
.anotha
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    word-wrap: normal;
    border: #083c2c 2.5px solid;
    width: 100%;
    border-radius: 15px;
}
.memFormSection3 .anotha .box
{
    
    padding: 10px;
    flex-grow: 1;
}
.memFormSection3 .box:nth-of-type(1)
{
    border: 0px 5px 0px 0px #083c2c solid;
    border-radius: 15px;
}

.memFormSection3 .btmbox
{
    padding: 10px;
    
}
.memFormSection3 textarea
{
    height: 200px;
    color: #083c2c;
}
.btmbox h6
{
    width: 70%;
    text-align: center;
    margin-left: 15%;
}
#submitM
{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    background-color:  #083c2c;
    color: white;
    border-radius: 5px;
    height: 50px;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 15px;
}


.contentM h3, h6
{
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.contentM h3
{
    padding-top: 25px;
}
.contentM h6
{
    padding: 10px;
}
.intro
{
    text-decoration: none;
    font-weight: 100;
    font-style: italic;
    font-size: 17.5px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-bottom: 150px;
    font-variant: normal;

}
.desc .side1
{
    width: 45%;
    text-align: left;
    margin-left: 2.5%;
    float: left;
}
.desc .side2
{
    width: 45%;
    text-align: right;
    margin-right: 2.5%;
    float: right;
}

    
